<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CrownPeak.Internal.SessionHelperProxy_endpointBaseAddress" value="https://cms.crownpeak.net/ArborMemorial"/>
	</appSettings>
	<system.serviceModel>
		<client>
			<endpoint
				address=""
				binding="basicHttpsBinding" bindingConfiguration="basicHttpsBinding1"
				contract="CrownPeak.Internal.Proxy.IAssetAccess"
				name="Asset"></endpoint>
			<endpoint
				address=""
				binding="basicHttpsBinding" bindingConfiguration="basicHttpsBinding1"
				contract="CrownPeak.Internal.Proxy.IImgAccess"
				name="Img"></endpoint>
		</client>
		<bindings>
			<basicHttpsBinding>
				<binding name="basicHttpsBinding1">
					<security mode="Transport" />
				</binding>
			</basicHttpsBinding>
		</bindings>
	</system.serviceModel>
</configuration>